footer {
    position: relative;
    background: #182C39;
    padding-top: 70px;

    .topFooter {
        padding-top: 30px;
        align-items: flex-start;
        font-family: 'Roboto', sans-serif;
        color: white;

        h3 {
            color: $colorSecondaire;
            text-transform: uppercase;
            margin-bottom: 7px;
        }

        h4 {
            color: $colorSecondaire;
        }

        a:hover {
            color: $colorSecondaire;
        }

    }

    .map {
        background: white;
        height: 550px;
        position: relative;
        overflow: hidden;

        p {
            font-family: 'Roboto', sans-serif;
            margin-bottom: 10px;
        }

        h3 {
            padding: 15px 0;
            font-family: 'Roboto', sans-serif;
            font-size: 2.5rem;
        }
    }

    .copyright {
        text-align: center;
        color: white;
        margin: 50px auto 10px
    }





}

.barreFooter {
    height: 100px;
    width: 100%;
    background: #182C39;
    transform: skewY(-3deg);
    position: absolute;
    top: -50px;
}

.logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.gotop {
    position: absolute;
    right: 0;
    bottom: 50%;
    padding: 60px;

    i {
        font-size: 3rem;
        color: white;
    }
}