header {
    background: scroll no-repeat center/cover url(img/homeBackground.jpg);
    height: 100vh;
    color: white;


    .headerTop {
        height: 150px;
        background: rgba(0, 0, 0, 0.74);
        padding: 15px;

        @media screen and (max-width: 1040px) {
            height: 100px;
        }

        >div {
            height: 100%;
            width: 90%;
            align-items: flex-start;

            @media screen and (max-width: 1040px) {
                justify-content: center;
            }
        }

        #logo {
            position: absolute;
            top: 8px;
            left: 20px;

            img {
                height: 150px;

                @media screen and (max-width: 1040px) {
                    height: 100px;
                }
            }
        }
    }
}

// NAVBAR
nav {
    height: 20px;

    @media screen and (max-width: 800px) {
        display: none;
    }

    ul:first-child {
        @include center;
        align-items: normal;
        gap: 20px;



        & li {
            text-transform: uppercase;
            position: relative;

            &:hover {
                color: $colorSecondaire;
            }
        }

        & li:before,
        & li::after {
            content: "";
            position: absolute;
            width: 0%;
            display: block;
            height: 2px;
            transition: all 0.3s ease;
            background-color: $colorSecondaire;
        }

        & li:after {
            bottom: -5px;
            left: -5px;
        }

        & li:before {
            top: -7px;
            right: -5px;
        }

        & li:hover::after {
            width: 100%;
        }

        & li:hover::before {
            width: 100%;
        }

        & li:nth-child(2):hover>ul {
            display: block;
        }

        & li:nth-child(2) {
            @media screen and (max-width: 1040px) {
                display: none;
            }
        }
    }

    .navResp {
        display: none;

        @media screen and (max-width: 1040px) {
            display: block;
        }
    }

    ul:nth-child(2) {
        display: none;

        & li a {
            color: white;

            &:hover {
                color: $colorSecondaire;
            }
        }

        & li::after,
        & li::before {
            content: none;
        }
    }
}

.bold {
    font-weight: bold;
    color: $colorSecondaire;
    position: relative;


}

.under {

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        display: block;
        height: 2px;
        transition: all 0.3s ease;
        background-color: $colorSecondaire;
    }

    &:after {
        bottom: -5px;
        left: -5px;
    }

    &:before {
        top: -7px;
        right: -5px;
    }
}

// LIEN RESEAUX
.headerTop>div>div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 25px;

    .fa-brands {
        font-size: 2rem;
    }

    @media screen and (max-width: 1450px) {
        display: none;

    }
}

#easterEggContainer {
    display: none;
}