header {
    background: scroll no-repeat center/cover url(img/homeBackground.jpg);
    height: 100vh;
    color: white;
    position: relative;
    z-index: 100;

    .headerTop {
        height: 150px;
        background: rgba(0, 0, 0, 0.74);
        backdrop-filter: blur(4px);
        padding: 15px;
        position: fixed;
        top: 0;
        width: 100%;

        .flex {
            justify-content: space-between;
        }

        @media screen and (max-width: 1040px) {
            height: 100px;
        }

        >div:not(.navDeroulant) {
            height: 100%;
            align-items: flex-start;
        }

        #logo {
            height: 100%;

            img {
                height: 100%;
            }
        }
    }
}

// NAVBAR
nav {
    height: 20px;

    @media screen and (max-width: 800px) {
        display: none;
    }

    ul:first-child {
        @include center;
        align-items: normal;
        gap: 20px;



        & li {
            text-transform: uppercase;
            position: relative;

            &:hover {
                color: $colorSecondaire;
            }
        }

        & li:before,
        & li::after {
            content: "";
            position: absolute;
            width: 0%;
            display: block;
            height: 2px;
            transition: all 0.3s ease;
            background-color: $colorSecondaire;
        }

        & li:after {
            bottom: -5px;
            left: -5px;
        }

        & li:before {
            top: -7px;
            right: -5px;
        }

        & li:hover::after {
            width: 100%;
        }

        & li:hover::before {
            width: 100%;
        }

        & li:nth-child(2):hover>ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        & li:nth-child(2) {
            @media screen and (max-width: 1400px) {
                display: none;
            }
        }
    }

    .navResp {
        display: none;

        @media screen and (max-width: 1400px) {
            display: block;
        }

        .searchBar {
            @media screen and (max-width: 800px) {
                width: 100%;
                display: block;
            }

        }
    }

    ul:nth-child(2) {
        display: none;
        height: 70px;

        & li a {
            color: white;

            &:hover {
                color: $colorSecondaire;
            }
        }

        & li::after,
        & li::before {
            content: none;
        }
    }
}

.bold {
    font-weight: bold;
    color: $colorSecondaire !important;
    position: relative;


}

.under {

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        display: block;
        height: 2px;
        transition: all 0.3s ease;
        background-color: $colorSecondaire;
    }

    &:after {
        bottom: -5px;
        left: -5px;
    }

    &:before {
        top: -7px;
        right: -5px;
    }
}

// LIEN RESEAUX
.reseaux {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    @media screen and (max-width: 360px) {
        gap: 5px;
    }

    .fa-brands {
        display: block;
        font-size: 2rem;

        @media screen and (max-width: 360px) {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 1040px) {
        position: absolute;
        top: 60px;
        left: 68%;
    }

    @media screen and (max-width: 800px) {
        position: unset;
    }

}

#easterEggContainer {
    display: none;
}