.indexGrid {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    margin: 0 auto 150px;

    @media screen and (max-width: 1450px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (max-width: 950px) {
        margin: 0 auto 50px;
    }

    aside {
        overflow: hidden;
        margin-top: 100px;

        @media screen and (max-width: 1450px) {
            margin: 0 auto;
        }

        button {
            display: block;
            margin: 20px auto;
            background: $colorPrimaire;
            color: white;
            text-transform: uppercase;
            padding: 15px 30px;
            letter-spacing: 3px;
            font-weight: 700;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

            &:hover {
                background: rgba(29, 32, 34, 0.853);
            }
        }

        h2 {
            background: $colorPrimaire;
            color: #ffffff;
            padding: 5px 15px;
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                width: 500%;
                height: 2px;
                background: $colorPrimaire;
                position: absolute;
                bottom: 0;
            }
        }

        .actu {
            padding: 20px 10px;


            h3 {
                font-family: 'Overpass', sans-serif;
                font-size: 1.2rem;
                color: #201f1d;
                letter-spacing: 0;

                @media screen and (max-width: 1450px) {
                    font-size: 1.7rem;
                }

                @media screen and (max-width: 666px) {
                    font-size: 1.3rem;
                }

                &:hover {
                    text-decoration: underline;

                }
            }

            p {
                padding: 15px 0px;
                font-size: 1rem;
            }

            .card {
                margin-bottom: 60px;

                >div {
                    align-items: flex-start;
                    gap: 15px;
                }

                .img {
                    width: 120px;
                    height: 120px;
                    flex-shrink: 0;
                    object-fit: cover;

                    @media screen and (max-width: 1450px) {
                        width: 200px;
                        height: 200px;
                    }

                    @media screen and (max-width: 450px) {
                        display: none;
                    }
                }

                .un {
                    background: scroll center/cover url("img/marche.jpg");
                }

                .deux {
                    background: scroll center/cover url("img/appartExt.jpg");
                }

                .trois {
                    background: scroll center/cover url("img/dessin.jpg");
                }

                i {
                    color: #ffffff;
                }

                .fa-newspaper {
                    color: red
                }

                .fa-house {
                    color: red;
                }
            }

            .separation {
                width: 70%;
                height: 1px;
                background: $colorSecondaire;
                margin: 50px auto;

            }

            .pub {
                a {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 1450px) {
                    display: none;
                }
            }

            .pubResp {
                display: none;

                img {
                    width: 100%;
                }

                @media screen and (max-width: 1450px) {
                    display: block;
                    text-align: center;
                }
            }
        }

        div {

            .appart {
                display: block;
                width: 90%;
                margin: 0 auto;
            }
        }


    }

    section {
        padding: 50px 0px;
        padding-left: 50px;

        @media screen and (max-width: 1450px) {
            padding-left: 0;
        }

        h1 {
            text-align: center;

            @media screen and (max-width: 650px) {
                font-size: 3rem;
                margin: 0 auto;
            }

        }

        p {
            padding: 15px 0px;
            font-size: 1.2rem;
            text-indent: 15px;
            line-height: 30px;
            color: rgb(29 32 34);
            margin: 0 auto;

            @media screen and (max-width: 666px) {
                font-size: 1rem;
            }

            &::first-letter {
                font-weight: 900;
                font-size: 2rem;
            }
        }

        h2 {
            font-size: 2.5rem;
            letter-spacing: 1px;
            text-align: center;
        }

        h3 {
            margin: 50px auto 0px;
            font-size: 1.7rem;
            font-family: 'Roboto', sans-serif;
            color: $colorPrimaire;
            width: 80%;

            @media screen and (max-width: 1450px) {
                width: 100%;
            }
        }

        figure {
            @include center;
            flex-direction: column;

            img {
                width: 300px;
            }

            figcaption {
                background: rgb(19, 14, 14);
                color: white;
                text-align: center;
                padding: 5px;
                width: 300px;
            }




        }

        .imgBox {
            @include center;
            gap: 5px;

            @media screen and (max-width: 750px) {
                flex-direction: column;
            }

            img {
                height: 200px;
                width: 300px;
                object-fit: cover;

                @media screen and (max-width: 750px) {
                    width: 300px;
                }
            }

        }

    }
}